<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baixador de Vídeos</title>
    <link rel="icon" type="image/png" href="/static/logositemeu.png">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    
    


               <a href="/" ><button class="botao-seletor">Baixar Música </button> </a>
            </div>

            <h1>Baixe vídeos do youtube  a qualquer hora </h1>

            <h2>Este é um baixador de vídeos do YouTube, você pode baixar vídeos do YouTube com facilidade e rapidez. Basta colar o link do vídeo do YouTube que deseja baixar e clicar no botão "Baixar Vídeo".</h2>

    <form action="/baixarvideo" method="post">
        <input type="text" name="url" placeholder="Cole o link do vídeo do YouTube aqui" class="input-url">
        <button type="submit" class="button">Baixar Vídeo</button>
    </form>
    
</body>
</html>