<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baixador de Vídeos</title>
    <link rel="icon" type="image/png" href="/static/logositemeu.png">
    <link rel="stylesheet" href="/static/video.css">
</head>
<body>
    
    

                    
               <a href="/" ><button class="botao-seletor">Baixar Música </button> </a>
            
    <div class="tudo">
            <h1>Baixe vídeos do YouTube  a qualquer hora </h1>

            <div class="logo">
            <img src="/static/logositemeu.png" alt="Logo do LinkEasy" >
            </div>


            <h2>Este é um baixador de vídeos do YouTube, você pode baixar vídeos do YouTube com facilidade e rapidez. Basta colar o link do vídeo do YouTube que deseja baixar e clicar no botão "Baixar Vídeo".</h2>



        <div  class ="container">
    <form action="/baixarvideo" method="post">
        <input type="text" name="url" placeholder="Cole o link do vídeo do YouTube aqui" class="input-url">
        <button type="submit" class="button">Baixar Vídeo</button>
    </form>
        </div>

        <footer>
            <p>&copy; 2026 LinkEasy. Todos os direitos reservados.</p>
        </footer>
    </div>
            </body>
</html>